/* General */
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f7fa;
    color: #1d3557;
    line-height: 1.6;
    padding: 20px;
}
@media (width < 880px){
    main section{
        overflow-x: scroll;
    }
}
/* Secciones */
main section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

/* Títulos */
h2 {
    margin-bottom: 15px;
    color: #083c3c;
}

/* Tabla de datos de usuario */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

thead tr:first-child {
    background-color: #083c3c;
    color: white;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Footer */
footer {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
    border-top: 1px solid #ccc;
    background-color: #fafafa;
}

footer a {
    color: #457b9d;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}